

.DS_Store

textbook/geostats.aux
textbook/geostats.log
textbook/geostats.out
textbook/geostats.synctex.gz
textbook/geostats.toc

textbook/modern_algebra2.aux
textbook/modern_algebra2.log
textbook/modern_algebra2.out
textbook/modern_algebra2.synctex.gz
textbook/modern_algebra2.toc
